.recipe-card__ingredients {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.recipe-card__ingredients-title {
  color: var(--brown-800);
  font-family: Young Serif;
  font-weight: 400;
  font-size: 28px;
}
.recipe-card__ingredients-list {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.recipe-card__ingredients-item {
  color: var(--brown-800);
}
.recipe-card__ingredients-text {
  color: var(--stone-600);
  margin-left: 18px;
}
